.Card {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  width: 180px;
  height: 360px;
  border-radius: 6px;
  box-shadow: 0 0 4px lightgray;
  color: whitesmoke;
  cursor: pointer;
  transition: transform 0.35s;
  scroll-snap-align: start;
}

.Card:hover {
  transform: scale(1.1);
}

.Card__image {
  width: 180px;
  height: 40%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: cover;
}

.Card__text {
  padding: 10px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card__text--title {
  margin: 6px 0;
  letter-spacing: 1px;
}

.Card__text--desc {
  font-size: 0.85rem;
}

.Card__text--value {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Card__text--discount {
  padding: 2px 4px;
  background-color: chartreuse;
  color: black;
  border-radius: 6px;
  font-weight: bold;
  font-style: italic;
}

.Card__text--price {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: right;
}
