.Card {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  width: 140px;
  height: 360px;
  border-radius: 6px;
  box-shadow: 0 0 4px lightgray;
  color: whitesmoke;
  cursor: pointer;
  transition: transform 0.35s;
  scroll-snap-align: start;
}

.Card:hover {
  transform: scale(1.1);
}

.Card__image {
  width: 140px;
  height: 40%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  object-fit: cover;
}

.Card__text {
  padding: 10px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card__text--title {
  margin: 6px 0;
}

.Card__text--desc {
  font-size: 0.85rem;
}

.Card__text--price {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: right;
}
