.MiniCardList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 50px;
  padding: 10px;
  height: 165px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
